@keyframes arrow {

  0% {
    inset-inline-start: -17px;
  }

  100% {
    inset-inline-start: -13px;
  }
}

.theme-menu__button:disabled::before {
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes heartScale {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes heartSparks {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon {
  inline-size: 38px;
  block-size: 36px;
}

.core {
  transition: 0.3s linear;
  transition-delay: 0.03s;
}

.contour {
  transition: 0.1s linear;
}

.main-body {
  transition: 0.3s linear;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--main-text-color);
  transition: 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-text-color);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--svg-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--svg-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core{
  fill: var(--svg-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--svg-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--svg-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartScale 0.3s 0.1s ease-in alternate 1;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: heartSparks 0.3s 0.3s ease-in alternate 1;
}