/* Добрый день! У меня появились проблемы с одним вашим комментарием,
в общем виде он звучит так: "Правила группы transition будет лучше один
раз указать для основного селектора, тогда переход будет работать на элементе всегда"
Но когда я выставляю transition на общий селектор: на класс элемента, но
transition перестает работать. */

.page {
  margin: 0 auto;
  color: var(--main-text-color);
  font-family: var(--font-family-main);
  font-variation-settings: "wght" var(--font-weight-text);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 696px;
}

/* Стили шапки сайта */

.header {
  display: grid;
  gap: 25px;
  margin: 102px auto;
  border: 2px solid var(--main-text-color);
  padding: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
  font-weight: 400;
}

.header__disc {
  display: grid;
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

.theme-menu {
  justify-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: start;
  padding-inline-start: 20px;
}

.button {
  border: none;
  font-family: var(--font-family-accent);
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  line-height: 90%;
}

.button:focus {
  outline: none;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--main-text-color);
  transform: scale(0);
  inset-block-end: -2px;
  inset-inline-start: 6px;
  block-size: 2px;
  inline-size: calc(100% - 12px);
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus.theme-menu__button::after {
  transition: transform 0.3s ease; /* если я убираю отсюда это правило, то оно перестает работать */
  transform: scaleX(1);
  transform-origin: left center;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  transition: opacity 0.3s ease; /* если я убираю отсюда это правило, то оно перестает работать */
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -17px;
  inset-block-start: 1px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
/* Стили основной части сайта */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.content__card {
  display: grid;
  border: 2px solid var(--main-text-color);
  background-color: var(--bg-color);
}

.content__card-title {
  border-block-end: 2px solid var(--main-text-color);
  padding: 4px 10px 8px;
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: var(--font-size);
}

.content__card-image-container {
  position: relative;
}

.content__card-image-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--text-stroke), -1px 1px var(--text-stroke),
    -1px -1px var(--text-stroke), 1px -1px var(--text-stroke);
  mix-blend-mode: hard-light;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  
  .content__card-image-label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.content__card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.content__card-image_type_blur {
  filter: blur(3px);
}

.content__card-image_type_contrast {
  filter: contrast(120%);
}

.content__card-image_type_grayscale {
  filter: grayscale(1);
}

.content__card-image_type_brightness-contrast {
  filter: brightness(80%) contrast(110%);
}

.content__card-image_type_hue-rotate {
  filter: hue-rotate(90deg);
}

.content__card-image_type_opacity {
  filter: opacity(0.5);
}

.content__card-image_type_sepia {
  filter: sepia(0.3);
}

.content__card-image_type_invert {
  filter: invert(20%);
}

.content__card-text {
  display: grid;
  gap: 27px 25px;
  border-block-start: 2px solid var(--main-text-color);
  padding: 25px;
  line-height: 21px;
}

.content__buttons {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 2px;
  line-height: 90%;
}

.button__main {
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-text-color);
}

.button__main::after {
  content: "";
  position: absolute;
  background-color: var(--main-text-color);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.button__main:hover.button__main::after {
  transition: 0.5s ease-in-out;
  transform: translateX(0);
}

.button__main:focus {
  box-shadow: 3px 3px var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.card__icon-button {
  padding: 0;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  outline-offset: -1px;
  transition: outline 0.3s ease; /* не работает, если убрать */
}

/* Стили кнопки */

.save__button {
  margin: 0 0 102px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 8px;
  padding: 15px 20px;
  background-color: var(--bg-color);
  color: var(--svg-floppy);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-hover-color);
  mix-blend-mode: difference;
}

.save__button-svg {
  position: relative;
  z-index: 1;
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

/* диалоговое окно */

.dialog {
  position: fixed;
  inset: 0;
  font-family: var(--font-family-accent);
  padding: 30px;
  gap: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  inline-size: 341px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
  block-size: 194px;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog[open] {
  display: grid;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__text {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  line-height: 150%;
}

.dialog__svg {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: normal;
}

.dialog__button {
  justify-content: center;
  margin: 0;
  padding: 9px 17px;
  line-height: 90%;
  inline-size: 100%;
}

@media (min-width: 1000px) {

  .save__button {
    align-items: center;
    flex-direction: row;
    text-align: start;
  }

  .save__button-svg {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog__svg {
    inline-size: 39px;
    block-size: 39px;
  }
}
