:root {
  --font-family-main: "Inter-Variable", sans-serif;
  --font-family-accent: "PressStart2P", sans-serif;
  --font-weight-text: 465;
  --font-weight-title: 785;
  --font-size: 18px;
  --main-text-color: #000;
  --bg-color: #fff;
  --bg-image: repeating-linear-gradient(
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --text-stroke: #fff;
  --button-hover-color: #fff;
  --svg-starting-color: #fff;
  --svg-stroke-color: #000;
  --svg-fill-color: #f00;
  --backdrop: #000;
  --svg-floppy: #fff;
}
